<%= form_with model: order, id: dom_id(order, "form"),
              class: "text-gray-600 flex justify-between items-top bg-gray-200 p-4 mx-auto min-w-full" do |form| %>
  <div class="flex">
    <div class="mr-12">
      <div class="">
        <%= form.label :order_number, class: 'text-xs' %>
        <% if order.order_number %>
          <%= form.text_field :order_number, readonly: true, value: order.order_number,
                              class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
        <% else %>
          <%= form.text_field :order_number, readonly: true, value: order_num,
                              class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
        <% end %>
      </div>

      <%= form.label :worker, class: 'text-xs' %>
      <%= form.collection_select(:worker_id, Worker.all, :id, :name,
                                 { prompt: 'Select' },
                                 { class: 'block shadow rounded-md border border-gray-200 outline-none px-3 py-2
    w-full' }) %>
    </div>
    <div class="input-block mr-12">
      <div class="">
        <%= form.label :client_name, class: 'text-xs' %>
        <%= form.text_field :client_name, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
        <%= form__field_error(:client_name, order) %>
      </div>

      <div class="">
        <%= form.label :client_phone, class: 'text-xs' %>
        <%= form.text_field :client_phone, class: "block rounded-md border border-gray-200 outline-none px-3 py-2  w-full" %>
        <%= form__field_error(:client_phone, order) %>
      </div>
    </div>
    <div>
      <%= form.label :jobs, class: 'text-xs' %>
      <div class="grid grid-cols-2 gap-3">
        <%= form.collection_check_boxes(:job_ids, Job.all, :id, :title) do |job| %>
          <div class="flex">
            <%= job.label class: "checkbox text-s" do %>
              <%= job.check_box class: " me-2" %>
              <%= job.text %>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
