<div class="min-w-full my-8">
  <%= link_to 'In descending order', filtered_orders_path(:desc),
              class: 'rounded-l-lg mx-0 py-2 px-5 bg-blue-400 text-white inline-block font-medium cursor-pointer' %>
  <%= link_to 'In ascending order', filtered_orders_path(:asc),
              class: 'mx-0 py-2 px-5 bg-blue-400 text-white inline-block font-medium cursor-pointer' %>
  <%= link_to 'By client name', filtered_orders_path(:client_name),
              class: '"mx-0 py-2 px-5 bg-blue-400 text-white inline-block font-medium cursor-pointer" '%>
  <%= link_to 'Incomplete', filtered_orders_path(:status_incomplete),
              class: 'mx-0 py-2 px-5 bg-blue-400 text-white inline-block font-medium cursor-pointer' %>
  <%= link_to 'Complete', filtered_orders_path(:status_complete),
              class: 'mx-0 py-2 px-5 bg-blue-400 text-white inline-block font-medium cursor-pointer' %>
  <%= link_to 'Download', orders_path(format: :zip), target: '_blank',
              class: 'rounded-r-lg mx-0 py-2 px-5 bg-yellow-400 text-white inline-block font-medium cursor-pointer' %>
  <div class="my-3 mr-4">
    <%= form_tag(orders_path, :method => 'get', class: 'flex') do %>
      <%= collection_select :order, :worker_id, Worker.all, :id, :name,
                            { :prompt => 'Select a worker' },
                            { :class => 'block shadow rounded-l-lg border border-gray-200 outline-none px-3 py-2
                            w-52' } %>
      <%= submit_tag "Show", class: "mx-0 py-2 shadow rounded-r-lg px-5 border border-gray-200 text-black-600
      inline-block font-medium cursor-pointer" %>
    <% end %>
  </div>
  <div class="my-3 mr-4">
    <%= form_tag(orders_path, :method => 'get', class: 'flex') do %>
      <%= collection_select :order, :category_id, Category.all, :id, :title,
                            { :prompt => 'Select a category' },
                            { :class => 'block shadow rounded-l-lg border border-gray-200 outline-none px-3 py-2 w-52'
                            } %>
      <%= submit_tag "Show", class: "mx-0 py-2 shadow rounded-r-lg px-5 bg-transparent border border-gray-200
      text-black-600 inline-block font-medium cursor-pointer" %>
      <div class="my-3 mr-4" %>
    <% end %>
    </div>
  </div>
  <div class="table-header table font-bold text-base min-w-full">
    <div>Order</div>
    <div>Datetime</div>
    <div>Client name</div>
    <div>Phone</div>
    <div>Worker</div>
    <div>Jobs</div>
    <div>Category</div>
    <div></div>
  </div>
  <div id="orders" data-controller="orders" data-action="">
    <%= render @orders %>
  </div>

</div>
