<%= turbo_frame_tag order do %>
  <div class="table min-w-full">
    <div class="flex items-center">
      <% if order.status %>
        <svg class="h-4 w-4 text-red-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="3"
             stroke-linecap="round"  stroke-linejoin="round">  <circle cx="12" cy="12" r="10" />
        </svg>
      <% else %>
        <svg class="h-4 w-4 text-green-500"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"
             stroke-linecap="round"  stroke-linejoin="round" stroke-width="3">  <circle cx="12" cy="12" r="10" />
        </svg>
      <% end %>
      <%= link_to order.order_number, order, data: { turbo_frame: '_top' }, class: 'ml-3 text-blue-900 font-bold' %>
    </div>
    <div class="text-xs font-light"><%= l order.created_at, format: :short, class: 'text-gray-500 text-xs font-light' %></div>
    <div><%= link_to order.client_name %></div>
    <div>
      <%= link_to order.client_phone, "tel:#{order.client_phone}", class: 'text-blue-400' %>
    </div>
    <div><%= link_to order.worker.name, worker_path(order.worker), data: { turbo_frame: '_top' } %></div>
    <div>
      <ul>
        <% order.jobs.each do |job| %>
          <span class="bg-gray-100 text-gray-500 p-1 mr-1 text-xs font-light"><%= job.title %></span>
        <% end %>
      </ul>
    </div>
    <div>
      <ul>
        <% order.unique_categories(order.jobs).each do |job| %>
          <span class="d-flex flex-wrap text-xs text-blue-500 bg-blue-100 p-1 mx-1 font-light"><%= job %></span>
        <% end %>
      </ul>
    </div>
    <div>
      <% if action_name != "show" %>
        <%= link_to edit_order_path(order) do %>
          <svg class="inline-block w-4 h-4" fill="none" stroke="green" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z">
            </path>
          </svg>
        <% end %>
        <%= button_to order_path(order), method: :delete, form_class: "inline-block ml-4" do %>
          <svg class="inline-block w-4 h-4" fill="none" stroke="red" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0
                    00-1-1h-4a1 1 0 00-1 1v3M4 7h16">
            </path>
          </svg>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
