<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Orders</h1>
  </div>
  <div class="search_form">
    <%= form_tag orders_path, method: :get,
                 data: { turbo_frame: "search-results",
                         turbo_action: "advance",
                         controller: "search",
                         action: "input->search#submit" } do |f| %>
      <%= text_field_tag "query", nil, placeholder: "Search ...",
                         class: "input input-search border-0 mx-0 rounded-l-lg input-bordered w-1/4 max-w-xs my-5" %>
      <%= submit_tag "Search", class: "rounded-r-lg mx-0 py-2 px-5 bg-yellow-400 text-white inline-block font-medium
      cursor-pointer" %>
    <% end %>
  </div>
  <%= turbo_frame_tag "new-order-form", src: new_order_path %>
  <%= turbo_frame_tag "search-results" do %>
    <%= render partial: "list", locals: { orders: @orders } %>
  <% end %>
</div>
